body {
  background-color: lightgrey;
}
h1 {
  text-align: center;
}
.jumbotron {
  background-color: lightblue;
  border: 1px solid black;
}
#sidebar {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  position: absolute;
}
#main {
  padding-left: 5%;
  float: right;
}
#about {
  text-decoration: underline;
}
.about {
  margin-top: 25px;
}
